
*,*before,*after{

    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body{
    padding-top: 50px;
}

.welcome {
    z-index: 1;
    height: 19em;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 3em;
    text-shadow: -1px 1px 2px #000,
                  1px 1px 0 #000,
                  1px -1px 0 #000,
                  -1px -1px 0 #000; 
}